<script>
 $(document).ready(function(){

  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  $('.gallery .gall_item').touchTouch();

  }); 
</script>
<header>
<!--==============================
            Stuck menu
=================================-->
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1>
          <a href="index.html">
          <%= image_tag("marca.png", :alt => "Logo alt") %> 
            <!--<img src="images/logo.png" alt="Logo alt">-->
          </a>
        </h1>  
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</header>        

<!--=====================
          Content
======================-->
<section class="content gallery pad1"><div class="ic"></div>
  <div class="container">
    <div class="row">
        <% @pedidos.each do |pedido| %>
          <% comidas = pedido.food_menus %>
          <% comidas.each do |comida| %>
            <div class="grid_4">
              <div class="gall_block">
                <div class="maxheight">
                  <a href="/assets/bbig1.jpg" class="gall_item"><%= image_tag("#{comida.photo}", :alt => "") %><!--<img src="images/page2_img1.jpg" alt="">--></a>
                  <div class="gall_bot">
                  <div class="text1"><a href="#"><%= comida.name%> </a></div>
                  <div class="text1">Cantidad: <%= pedido.quantity %></div>
                  <div class="text1">Para llevar: <%= pedido.takeaway %></div>
                  <div class="text1">Numero de mesa: <%= pedido.table_id %></div>
                  <div class="text1">Observacion: <%= pedido.observation %></div>
                  <br>
                  <%= link_to 'notificar listo', delivery_path(pedido), class:"btn" %></div>
                 
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
     
    </div>
  </div>
</section>
<!--

<br>

<table id="mitabla">
  <thead>
      <tr >
        <th id="titulo">Presentacion</th>
        <th id="titulo">Nombre</th>
        <th id="titulo">Cantidad</th>
        <th id="titulo">Para llevar</th>
        <th id="titulo">Mesa</th>
        <th id="titulo">Observacion</th>
        <th id="titulo"> Llamar</th>
        
      </tr>  
  </thead>

  <tbody id="cuerpo">
    <% @pedidos.each do |pedido| %>
      <tr>
        <% comidas = pedido.food_menus %>
        <% comidas.each do |comida| %>
          
            <td id="foto"><%= image_tag ("#{comida.photo}")%></td>
            <td id="listo"><%= comida.name%></td>  
            <td id="listo"><%= pedido.quantity %></td>
            <td id="listo"><%= pedido.takeaway %></td>
            <td id="listo"><%= pedido.table_id %></td>
            <td id="listo"><%= pedido.observation %></td>
            <td id="llamar"><%= link_to 'listo', delivery_path(pedido) %></td>
          
        <%end%>     
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<br>
<a href= '/distributor_chef' class="btn btn-default active"><h5><b> Volver </b></h5></a>
<br>-->