<h1>Editar Receta</h1>


<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :preparation %><br>
    <%= f.text_area :preparation %>
  </div>

<%= f.label "Ingredientes" %>
<% @recipe.ingredients.each do |comment| %>
	<div clas="field">
		<br>
		<%= comment.ingrediente %>

	</div>	


<% end %>

<br>
<%= form_for([@recipe,@recipe.ingredients.build]) do |f| %>

  <div class="field">
    
    <%= f.text_area :ingrediente %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


<%= link_to 'Show', @recipe, :class => "btn btn-link" %> |
<%= link_to 'Back', recipes_path, :class => "btn btn-link" %>
