<h1>Lista de Recetas</h1>

<div class="panel panel-success">

      <table class="table table-striped"><thead>
          <tr class="info">

      <th>Nombre</th>
     <!-- <th>Preparation</th> -->
      <th></th>
      <th>Opcion</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
      <!--  <td><%= recipe.preparation %></td> -->
        <td><%= link_to 'Ver', recipe, :class => "btn btn-link" %></td>
        <td><%= link_to 'Editar', edit_recipe_path(recipe), :class => "btn btn-link" %></td>
        <td><a href="/recipes/destroy/<%= recipe.id %>">Eliminar</a></td>
      </tr>
    <% end %>
  </tbody>
</table>




<br>

<%= link_to 'Nueva Receta', new_recipe_path, :class => "btn btn-link" %>

