
<script>
 $(document).ready(function(){

  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  $('.gallery .gall_item').touchTouch();

  }); 
</script>
<header>
<!--==============================
            Stuck menu
=================================-->
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1>
          <a href="index.html">
            <%= image_tag("marca.png", :alt => "Logo alt") %>  
            <!--<img src="images/logo.png" alt="Logo alt">-->
          </a>
        </h1>  
          <div class="navigation">
            <nav>
              <ul class="sf-menu">
               <li class="current"><a href="/">inicio</a></li>
               <li><a href="/mostrar_menu">menu</a></li>
               <!--<li><a href="index-2.html">reservacion</a></li>
               <li><a href="index-3.html">blog</a></li>-->
               <li><a href="/contacto">contacto</a></li>
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</header>        

<!--=====================
          Content
======================-->
<section class="content"><div class="ic"></div>
  <div class="container">
    <div class="row">
      <div class="grid_4">
        <div class="banner">
      <div class="gall_block">
          <%= image_tag("page1_img1.jpg", :alt => "") %>  
          <!--<img src="images/page1_img1.jpg" alt="">-->
          <div class="bann_capt ">
            <div class="maxheight">
              <%= image_tag("icon1.png", :alt => "") %>  
              <!--<img src="images/icon1.png" alt="">-->
              <div class="bann_title">Cocina tradicional</div>
              <a href="#">ver mas</a>
            </div>
          </div>
        </div>
     </div>
      </div>
      <div class="grid_4">
        <div class="banner">
      <div class="gall_block">
          <div class="bann_capt  bn__1">
            <div class="maxheight">
              <%= image_tag("icon2.png", :alt => "") %>  
              <!--<img src="images/icon2.png" alt="">-->
              <div class="bann_title">Postres</div>
              <a href="#">ver mas</a>
            </div>
          </div>
          <%= image_tag("page1_img2.jpg", :alt => "") %>  
          <!--<img src="images/page1_img2.jpg" alt="">-->
        </div>
    </div>
      </div>
      <div class="grid_4">
        <div class="banner ">
      <div class="gall_block">
          <%= image_tag("page1_img3.jpg", :alt => "") %>  
          <!--<img src="images/page1_img3.jpg" alt="">-->
          <div class="bann_capt  bn__2">
            <div class="maxheight">
               <%= image_tag("icon1.png", :alt => "") %>  
              <!--<img src="images/icon3.png" alt="">-->
              <div class="bann_title">Cocina internacional</div>
              <a href="#">ver mas</a>
            </div>
          </div>
      </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <div class="count">1.</div>
            La infinidad de sabores y aromas producidos en nuestra tierra le proporcionan a la comida nacional un toque distinguido, haciendo de gastronomia boliviana una de las mejores del mundo .
          <br>
          <!--<a href="#" class="btn">ver mas</a>-->
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <div class="count">2.</div>
            Nuestros postres son el complemento perfecto para disfrutar al maximo.
          <br>
          <!--<a href="#" class="btn">ver mas</a>-->
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <div class="count">3.</div>
            Nuestra cocina le ofrece una gran variedad de platos internacionales, preparados con el estilo propio del Fogon De Maria, y con la calidad de siempre.
          <br>
          <!--<a href="#" class="btn">ver mas</a>-->
        </div>        
      </div>
      <div class="grid_12">
        <div class="box">
          <div class="row">
            <div class="grid_5 preffix_1">
              <h2>Bienvenido</h2>
              <p>Bienvenido a nuestra nueva pagina web, y gracias por visitarnos. Durante el último par de meses hemos estado trabajando sin descanso para poner en funcionamiento una nueva página, que nos ayude a darle a nuestros visitantes más información sobre nuestros productos.</p>
                
               <br>
              <!--<a href="#" class="btn">mas</a>-->
            </div>
            <div class="grid_5">
              <h2>El sabor de la vida</h2>
              El que recibe a sus amigos y no presta ningún cuidado personal a la comida que ha sido preparada, no merece tener amigos.<br >
              <strong> Anthelme Brillat-Savarín</strong><br>
              <!--<a href="#" class="btn">mas</a>-->
            </div>
          </div>
        </div>
      </div>
      <div class="grid_12">
        <h2>Las sugerencias del chef</h2>
      </div>
      <div class="gallery">
        <!--PIQUE -->
        <div class="grid_4"><a href="assets/big1.jpg" class="gall_item"><%= image_tag("page1_img4.jpg", :alt => "") %><!--<img src="images/page1_img4.jpg" alt="">--></a><div class="clear"></div></div>
        <!--PIERNA DE CERDO MECHADA -->
        <div class="grid_4"><a href="assets/big2.jpg" class="gall_item"><%= image_tag("page1_img5.jpg", :alt => "") %><!--<img src="images/page1_img5.jpg" alt="">--></a></a><div class="clear"></div></div>
        <!--LAPPING -->
        <div class="grid_4"><a href="assets/big3.jpg" class="gall_item"><%= image_tag("page1_img6.jpg", :alt => "") %><!--<img src="images/page1_img6.jpg" alt="">--></a><div class="clear"></div></div>
      </div>
      <div class="grid_4">
        <h2>Comentarios</h2>
        <blockquote class="bq1">
          <%= image_tag("page1_img7.jpg", :alt => "Logo alt", :class=> "img_inner fleft noresize") %>  
          <!--<img src="images/page1_img7.jpg" alt="" class="img_inner fleft noresize">-->
          <div class="extra_wrapper">
            <div class="bq_title color1">Erika Vargas</div>
              Cliente del mes.
            <!--<a href="#"><span class="fa fa-chevron-right"></span>mas testimonios</a>-->
          </div>
        </blockquote>
      </div>
      <div class="grid_4">
        <h2>Novedades</h2>
        <div class="block2">
          <time datetime="2014-01-01">11<br>Junio</time>
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Presencia del chef Juan Caruso </a></div>El chef internacional de la reconocida cadena de comida "Sabores", nos visita y comparte sus secretos. No faltes, la entrada es gratuita.
          </div>
        </div>
        <div class="block2">
          <time datetime="2014-01-01">15<br>Mayo</time>
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Reconocimiento </a></div>Autoridades locales reconoceran la labor del restaurante FOGON DE MARIA, por su contribucion de mantener vivas nuestras tradiciones.
          </div>
        </div>
      </div>
      <div class="grid_4">
        <h2>Horarios de atencion</h2>
        <ul class="shed">
          <li><span>Almuerzo:</span> 12AM - 3PM</li>
          <li><span>Carnes a la parrilla:</span> 5PM - 12PM</li>
          <li><span>Fines de semana:</span> 12AM - 12PM</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">  <!--
        <div class="socials">
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google-plus"></a>
          <a href="#" class="fa fa-pinterest"></a>
        </div>-->
        <div class="copyright"><span class="brand">Taller de sistemas </span> &copy; <span id="copyright-year"></span> | <a href="#">Politica de privacidad</a> <div>Contactenos en <a href="https://www.facebook.com/erika.vargas.35728" target="_blank" class="brand">Erika vargas</a>. | <a href="https://www.facebook.com/franz.beltran.mercado" title="Themes for Joomla" class="brand">Franz Beltran</a></div>
        </div>
      </div>
    </div>
  </div> 
</footer> 