
  <% @pedido.each do |p| %>
    <%= form_tag ({controller: "waiters", action: "update"}) do %>
      <div class="col-xs-3">
                 <label for="cantidades">Cantidad</label>
                 <%= number_field_tag 'cantidades[]', p.quantity , :class =>"form-control", :placeholder => "col-xs-3"%>
          </div>
          <div class="col-xs-3">
                 <label for="llevar">Para llevar</label>
                 <%= select_tag 'llevar[]', options_for_select([['si', 'si'], ['no', 'no']], p.takeaway), :class =>"form-control", :placeholder => "col-xs-3" %>
          </div>
           <div class="col-xs-3">
             <label for="observacion">Nota</label>
              <%= text_area_tag 'observacion[]', p.observation ,   :class =>"form-control", :placeholder => "col-xs-3" %> 
          </div>
          

    <%= submit_tag 'Guardar cambios', :class=>"btn btn-primary"%> 
  <%end%>
<% end %>


