<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Logotipo</a>
  </div>
   <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/waiters/index">Nuestras mesas</a></li>
      <li><a href="/menus/cocina">Nuestra cocina</a></li>
      <li><a href="/menus/bar">Nuestro bar</a></li>
      <li><a href="/waiters/index">Bandeja de entrada <span class="badge">42</span></a></li>
    </ul>
  </div>
</nav>
<div id="mesas">
  <% @pedido.each do |p| %>
    <%= form_tag ({controller: "waiters", action: "update"}) do %>
      <div class="col-xs-3">
                 <label for="cantidades">Cantidad</label>
                 <%= number_field_tag 'cantidades[]', p.quantity , :class =>"form-control", :placeholder => "col-xs-3"%>
          </div>
          <div class="col-xs-3">
                 <label for="llevar">Para llevar</label>
                 <%= select_tag 'llevar[]', options_for_select([['si', 'si'], ['no', 'no']], p.takeaway), :class =>"form-control", :placeholder => "col-xs-3" %>
          </div>
           <div class="col-xs-3">
             <label for="observacion">Nota</label>
              <%= text_area_tag 'observacion[]', p.observation ,   :class =>"form-control", :placeholder => "col-xs-3" %> 
          </div>
          
 
    <%= submit_tag 'Guardar cambios', :class=>"btn btn-primary"%> 
  <%end%>
<% end %>


