<table id="mitabla">
  <thead>
    <tr >
      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td >
          <%  pedidos = table.orders %>
          <% if pedidos.any?%>
              <span id="pedido"></span>
          <% end %>
          <% pedidos.each do |pedido|%>
            <% if pedido.state=="en proceso"%>
              <span id="pedidoProceso"><%= pedido.state %></span>
            <% end %>
            <% if pedido.state=="comida lista" || pedido.state=="bebida lista"%>
              <span id="pedidoListo"><%= link_to pedido.state, serving_food_path(pedido) %></span>
            <% end %>
            
          <% end %>
        </td>

        <td>
          <% if table.state == "ocupada"%>
            <span id="mesaOcupada"><%= "#{table.id}"%></span>
          <%end%>
          <% if table.state == "limpieza"%>
            <span id="mesaLimpieza"><%= "#{table.id}" %></span>
          <%end%>
          <% if table.state == "Libre"%>
            <span id="mesaLibre"><%= "#{table.id}" %></span>
            
          <%end%>
        </td>  

        <td><span id="accion"><%= link_to 'Pedir comida', take_order_path(table) %></span>
        <span id="accion"><%= link_to 'Pedir bebida', take_drink_order_path(table) %></span>
            <span id="accion"><%= link_to 'Llamar asistente', set_table_path(table) %></span>
        </td>

        
      </tr>
    <% end %>
  </tbody>
</table>

