
<h2>LISTAR MESAS</h2>
<div id="mesas">
  <% @tables.each do |mesa| %>
    <% if mesa.state == "libre" %>
    <a href="opciones/<%= mesa.id%>">
      <div class="contenedor" id="libre">
       <%= image_tag("table.png", :class => "icon") %>
     <!-- <img class="icon" src="assets/table.png">     -->
      <p class="texto"><%= mesa.state%><%= mesa.id%></p>
      </div>
          
    </a>
    <% end %>
    
    <% if mesa.state == "ocupada"%>      
      <a href="opciones/<%= mesa.id%>">
        <div class="contenedor" id="ocupada">
          <%= image_tag("table.png", :class => "icon") %>
          <p class="texto"><%= mesa.state%><%= mesa.id%></p>
        </div>
      </a>  
    <% end %>
    
    <% if mesa.state == "limpieza"%>
      <a href="opciones/<%= mesa.id%>">
        <div class="contenedor" id="limpieza">
          <%= image_tag("table.png", :class => "icon") %>     
          <p class="texto"><%= mesa.state%><%= mesa.id%></p>
        </div>
      </a>
    <% end %>
    
    <% if mesa.state == "reservada"%>
      <a href="opciones/<%= mesa.id%>">
        <div class="contenedor" id="reservada">
          <%= image_tag("table.png", :class => "icon") %>     
          <p class="texto"><%= mesa.state%><%= mesa.id%></p>
      </div>
      </a>
    <% end %>
  <% end %>
</div>
