
<div id="mesas">
  <a href="/waiters/take_order/<%= @mesa.id%>">
    <div  class="contenedor" id="limpieza">
      <%= image_tag("pedircomida.png", :class => "icon") %>
      <p class="texto">PEDIR COMIDA</p>
    </div>
  </a>

  <a href="/waiters/take_drink_order/<%= @mesa.id%>">
    <div class="contenedor" id="limpieza">
      <%= image_tag("pedirbebida.png", :class => "icon") %>
      <p class="texto">PEDIR BEBIDA</p>
    </div>
  </a>

  <a href="/waiters/pedido_mesa/<%= @mesa.id%>">
    <div class="contenedor" id="limpieza">
      <%= image_tag("pedidos.png", :class => "icon") %>
      <p class="texto">PEDIDOS ACTUALES</p>
    </div>
  </a>  
  <div class="contenedor" id="limpieza">
   <%= image_tag("cuenta.png", :class => "icon") %>
    <p class="texto">CUENTA</p>
  </div>

  <a href="/waiters/set_table/<%= @mesa.id%>">
    <div class="contenedor" id="limpieza">
      <%= image_tag("asistente.png", :class => "icon") %>
      <p class="texto">LLAMAR ASISTENTE</p>
    </div>  
  </a> 
  <a href="/waiters/ocupar_mesa/<%= @mesa.id%>">
    <div class="contenedor" id="limpieza">
      <%= image_tag("table.png", :class => "icon") %>
      <p class="texto">USAR MESA</p>
    </div>  
  </a>
  
</div>