<header>
<!--==============================
            Stuck menu
=================================-->
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1>
          <a href="index.html">
          <%= image_tag("marca.png", :alt => "Logo alt") %> 
            <!--<img src="images/logo.png" alt="Logo alt">-->
          </a>
        </h1>  
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               <li ><a href="/waiters/index">mesas</a></li>
               <!--<li ><a href="/mostrar_menu">menu</a></li>-->
               <li><a href="/waiters/notificaciones">notificaciones   <span class="badge"><%= @numero_notificaciones %></span></a></li>
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</header>     
<section class="content gallery pad1"><div class="ic"></div>
  <div class="container">
      <div id="mesas">
  <a href="/waiters/take_order/<%= @mesa.id%>">
    <div  class="contenedor" id="limpieza">
      <%= image_tag("pedircomida.png", :class => "icon") %>
      <p class="texto">PEDIR COMIDA</p>
    </div>
  </a>

  <a href="/waiters/take_drink_order/<%= @mesa.id%>">
    <div class="contenedor" id="limpieza">
      <%= image_tag("pedirbebida.png", :class => "icon") %>
      <p class="texto">PEDIR BEBIDA</p>
    </div>
  </a>

  <a href="/waiters/pedido_mesa/<%= @mesa.id%>">
    <div class="contenedor" id="limpieza">
      <%= image_tag("pedidos.png", :class => "icon") %>
      <p class="texto">PEDIDOS ACTUALES</p>
    </div>
  </a>  <!--
  <div class="contenedor" id="limpieza">
   <%= image_tag("cuenta.png", :class => "icon") %>
    <p class="texto">CUENTA</p>
  </div>-->

  <a href="/waiters/set_table/<%= @mesa.id%>">
    <div class="contenedor" id="limpieza">
      <%= image_tag("asistente.png", :class => "icon") %>
      <p class="texto">LLAMAR ASISTENTE</p>
    </div>  
  </a> 
  <a href="/waiters/ocupar_mesa/<%= @mesa.id%>">
    <div class="contenedor" id="limpieza">
      <%= image_tag("table.png", :class => "icon") %>
      <p class="texto">USAR MESA</p>
    </div>  
  </a>
  
</div>  
  </div>
</section>
