
 <% @pedido_mesa.each do |pedido| %>
        <% comidas = pedido.food_menus %>
        <% comidas.each do |comida| %>
            <div style="padding-top: 60px">
                <div class="media">
                    <a class="pull-left" href="/waiters/edit/<%= pedido.id%>">
                        <%= image_tag("#{comida.photo}", :class => "media-object", size: "200x230") %>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">NOMBRE: <%= comida.name %></h4>
                      <h4 class="media-heading">CANTIDAD: <%= pedido.quantity %></h4>
                      <h4 class="media-heading">PARA LLEVAR: <%= pedido.takeaway %></h4>
                      <h4 class="media-heading">ESTADO: <%= pedido.state %></h4>
                      <h4 class="media-heading">NOTA: <%= pedido.observation %></h4>
                      <%= link_to 'CANCELAR', cancelar_path(pedido) %>
                      
                    </div>
                </div>
            </div>
        <%end%>     
<%end%> 

 <% @pedido_mesa.each do |pedido| %>
        <% comidas = pedido.drink_menus %>
        <% comidas.each do |comida| %>
            <div style="padding-top: 60px">
                <div class="media">
                    <a class="pull-left" href="#">
                        <%= image_tag("#{comida.photo}", :class => "media-object", size: "200x230") %>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">NOMBRE: <%= comida.name %></h4>
                      <h4 class="media-heading">CANTIDAD: <%= pedido.quantity %></h4>
                      <h4 class="media-heading">PARA LLEVAR: <%= pedido.takeaway %></h4>
                      <h4 class="media-heading">ESTADO: <%= pedido.state %></h4>
                      <%= link_to 'CANCELAR', cancelar_path(pedido) %>
                    </div>
                </div>
            </div>
        <%end%>     
<%end%> 



