<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Logotipo</a>
  </div>
   <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/waiters/index">Nuestras mesas</a></li>
      <li><a href="/menus/cocina">Nuestra cocina</a></li>
      <li><a href="/menus/bar">Nuestro bar</a></li>
      <li><a href="/waiters/index">Bandeja de entrada <span class="badge">42</span></a></li>
    </ul>
  </div>
</nav>

<div id="mesas">
  <%= form_tag ({controller: "waiters", action: "create_order"}) do %>
    <% @comidas.each do |comida| %>
      <div class="panel panel-default">
          <div class="panel-body">
              <div class="row">
            <div class="col-xs-3">
                <label>
                   <%= check_box_tag 'comida_ids[]', comida.id %> <%= comida.name %>
                </label>
            </div>  


            <div class="col-xs-3">
               <label for="cantidades">Cantidad</label>
               <%= number_field_tag 'cantidades[]', 0, :class =>"form-control", :placeholder => "col-xs-3"%>
            </div>

            <div class="col-xs-3">
               <label for="llevar">Para llevar</label>
               <%= select_tag 'llevar[]', options_for_select([['si', 'si'], ['no', 'no']], 'no'), :class =>"form-control", :placeholder => "col-xs-3" %>
            </div>
            
             <div class="col-xs-3">
               <label for="observacion">Nota</label>
                <%= text_area_tag 'observacion[]',' ',   :class =>"form-control", :placeholder => "col-xs-3" %> 
            </div>
             
            <div>
                <%= hidden_field_tag 'mesa_ids[]', @mesa.id %>   
            </div>  

        </div>             
          </div>
      </div>
        
        
    <% end %>
     
    <%= submit_tag 'Pedir comida', :class=>"btn btn-primary"%>
  <% end %>
  
</div>
