<%= form_for(@ingredient_c) do |f| %>
  <% if @ingredient_c.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient_c.errors.count, "error") %> prohibited this ingredient_c from being saved:</h2>

      <ul>
      <% @ingredient_c.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<b style="font-size:20px;"> 
<div class="field">
   <h4><span class="label label-danger" <%= f.label :name, value='Nombre:'%></span></h4> 
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.hidden_field :recipec_id %><br>
    <%= f.hidden_field :recipec_id %>
  </div>
  <div class="actions">
    <%= f.submit "Aceptar", :class=> 'btn btn-default active'%>
  </div>
  </b>
<% end %>
