<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient_c.name %>
</p>

<p>
  <strong>Recipec:</strong>
  <%= @ingredient_c.recipec %>
</p>

<%= link_to 'Edit', edit_ingredient_c_path(@ingredient_c) %> |
<%= link_to 'Back', ingredient_cs_path %>
