<%= form_for(@recipe_c) do |f| %>
  <% if @recipe_c.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_c.errors.count, "error") %> prohibited this recipe_c from being saved:</h2>

      <ul>
      <% @recipe_c.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :list %><br>
    <%= f.text_area :list %>
  </div>
  <div class="field">
    <%= f.label :preparation %><br>
    <%= f.text_area :preparation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<%= form_tag ({controller: "recipe_cs", action: "create_recipec"}) do %>
    <% @ingredient_cs.each do |ingredient| %>
      <div id="checkbox">
        <div>
            <%= check_box_tag 'ingredientc_ids[]', ingredient.id %>
        </div>
      </div>

      <div id="nombreIngredient">
        <div>
          <%= ingredient.name %>
        </div>
      </div>
       
       <br><br><br><br>  
      <% end %>
    <%= submit_tag 'Aceptar'%>
<% end %>




<%= link_to 'Agregar Ingrediente', new_ingredient_c_path %>