<!DOCTYPE html>
<html>
<head>
  <title>Fogon De Maria</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container" style="height: 50px;">
      <div class="navbar-header">
        <a href="/"> <img src="/images/logo_fogon.png" width="100"> </a>
      </div>
      <div class="navbar-text navbar-right">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Cerrar Sesion", destroy_user_session_path, :class => "btn btn-xs btn-danger active" %>
        <% else %>
          <%= link_to "Registrarse", new_user_registration_path, :class => "btn btn-xs btn-info active" %> |
          <%= link_to "Iniciar Sesion", new_user_session_path, :class => "btn btn-xs btn-success active" %>
        <% end %>
      </div>
    </div> 
  </div>
    <br><br><br><br>
    
  <div class="container">
    <%= yield %>
  </div>
  
</body>
</html>
